<h1></h1>
<p>Greetings <%=@lead.full_name%>,
<br/><br/>
We thank you for contacting Rocket Elevators to discuss the opportunity to contribute to your project <%=@lead.project_name%>.
<br/><br/>
A representative from our team will be in touch with you very soon. We look forward to demonstrating the value of our solutions and helping you choose the appropriate product given your requirements.
<br/><br/>
We’ll Talk Soon,
<br/><br/>
The Rocket Team
</p>
<br/>
<img src="/assets/images/R2.png" alt="Logo">